.label {
  width: 150px;
  display: inline-block;
  font-size: medium;
  font-weight: 600;
  vertical-align: top;
  margin-bottom: 15px;
}
.input-txt {
  width: 250px;
}
.pd-btm-15 {
  padding-bottom: 15px;
}
input[type="submit"],
input[type="reset"] {
  background-color: darkgreen;
  color: azure;
  padding: 10px 25px;
  cursor: pointer;
  text-align: center;
}
.right-content div {
  width: 180px !important;
  padding-left: 20px;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: blueviolet;
}
.right-content input[type="checkbox"] {
  margin-right: 17px;
}
