.image {
  width: 40%;
  display: inline-block;
  border: 2px solid black;
  margin: 15px;
}
.image figure {
  position: relative;
  margin: 10px;
}
.image img {
  width: 100%;
}

.image figcaption {
  color: ;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 80px;
  background-color: rgba(128, 23, 5, 0.521);
  width: 100%;
}
.heading-lbl {
  font-weight: bold;
  font-size: 30px;
}
.side-image {
  width:90%;
}
.right-content div {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: firebrick;
}
.right-content img {
  margin-top: 16px;
}
