.right-content li {
  padding: 10px;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: black;
}
.right-content h3 a {
  text-decoration: none;
  color: darkslateblue;
}
.right-content h3 a:hover {
  text-decoration: none;
  color: azure;
}
button {
  background-color: darkgoldenrod; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: bisque;
}

button:hover {
  background-color: darkblue;
}
