body {
  font-family: "Times New Roman", Times, serif;
  width: 90%;
  background-color:darkgray;
  border: 1px solid black;
  margin: 25px auto !important;
   background-image:url('../images/background.png');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
  display: flex;
}
header h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: blue;
  letter-spacing: 0.07em;
  padding-left: 20px;
}

header img {
  width: 70px;
  float: left;
  margin-left: 30px;
}

.main-nav a {
  font-size: 23px;
  color: black;
  padding: 0 30px;
  text-decoration: none;
}

.main-nav ul {
  background-color: deepskyblue;
  font-weight: 600;
  padding: 20px 0;
  text-align: center;
}

.main-nav ul > li {
  display: inline-block;
  position: relative;
}

.main-nav ul li ul {
  width: 200px;
  position: absolute;
  z-index: 999;
  text-align: left;
  background-color: dodgerblue;
  box-shadow: 0 0 5px dodgerblue;
}

.main-nav ul li ul li a {
  color: beige;
  padding: 10px;
  display: block;
}

nav ul li ul li:hover a:hover {
  color: beige;
  background-color: #80a14d;
}

.main-nav ul li ul {
  display: none;
}

.main-nav ul li:hover ul {
  display: block;
}
.main-nav a:hover {
  color: rgb(94, 74, 207);
}
.content {
  background-color: darkgray;
  display: inline-block;
  width: 100%;
}
.left-content {
  width: 20%;
  float: left;
  padding-right: 20px;
}
.main-content {
  width: 50%;
  float: left;
}
.right-content {
  width: 26%;
  float: right;
  padding-left: 21px;
}
footer {
  text-align: center;
  font-weight: bold;
  background-color: deepskyblue;
  padding: 20px 0;
  font-size: 20px;
  color: black;
}
.left-content img {
  width: 50px;
}
.left-content figure {
  border: 3px solid darkblue;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}
.left-content figure a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.left-content figure a:hover {
  color: azure;
}
.left-content figure a figcaption {
  margin-left: 10px;
}
.centre {
  text-align: center;
}
