table,
td,
th {
  border: 2px solid black;
  padding: 14px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  background-color: darkslategray;
}
.right-content li {
  padding: 10px;
  font-size: large;
  font-family: cursive;
  font-weight: 500;
  color: darkcyan;
}
.right-content h3 a {
  text-decoration: none;
  color: darkcyan;
}
