.videoWrapper {
  border: 2.5px solid black;
  margin-top: 15px;
}
.main-content figcaption,
.right-content {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-top: 15px;
}
